ion-button.consultar-mozo
{
    width: 95%;
    font-size: 30px;

    h1{
        text-transform: none;
        font-size: 30px;
        margin: 0px;
    }
}
.modal-toolbar
{
    --background: #d62828;
    --color: #fff;

    ion-button{
        --background: #d62828;
        --color: #fff;
    }
}
ion-col{
    width: 33%;
}

.cuadro
{
    overflow-x: auto;
    margin: 2%;
}

ion-grid{
    width: auto;
    padding: 0;
}

ion-row{
    display: flex;
    background-color: #9d641d;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 500px;
}