
<div class="background">
  <div class="center">
    <div>
      <label>Como estuvo el servicio?</label>
      <ion-radio-group value="2" (ionChange)="handleChange($event)">
        <ion-item>
          <ion-radio value="0">Muy mal</ion-radio>
        </ion-item>
        <ion-item>
          <ion-radio value="1">Mal</ion-radio>
        </ion-item>
        <ion-item>
          <ion-radio value="2">Decente</ion-radio>
        </ion-item>
        <ion-item>
          <ion-radio value="3">Bueno</ion-radio>
        </ion-item>
        <ion-item>
          <ion-radio value="4">Muy bueno</ion-radio>
        </ion-item>
      </ion-radio-group>
    </div>
    <div class="temperatura">
      <label>Cual fue la temperatura de la comida?</label>
      <select placeholder="----" (change)="Select($event)">
        <option value="0">Frío</option>
        <option selected value="1">Correcto</option>
        <option value="2">Caliente</option>
      </select>
    </div>
    <div>
      <label>del 1 al 10 que puntuación le darias al restaurantes</label>
      <ion-range (ionChange)="handleRage($event)" aria-label="Range with ticks" value="5"  [pin]="true" [ticks]="true" [snaps]="true" [min]="0" [max]="10"></ion-range>
    </div>
    <div class="opciones">
      <label>Estas conforme con estos aspectos?</label>
      <ion-checkbox (ionChange)="ChechBoxEvent(0)">Comida a tiempo</ion-checkbox>
      <ion-checkbox (ionChange)="ChechBoxEvent(1)">Espera al asignar una mesa</ion-checkbox>
      <ion-checkbox (ionChange)="ChechBoxEvent(2)">Buena calidad de la comida</ion-checkbox>
      <ion-checkbox (ionChange)="ChechBoxEvent(3)">Decoración</ion-checkbox>
      <ion-checkbox (ionChange)="ChechBoxEvent(4)">Musica</ion-checkbox>
    </div>
    <div class="opciones">
      <label>Déjanos tu opinión</label>
      <textarea [(ngModel)]="this.encuesta.comment"></textarea>
    </div>
    <button style="height: 5%;" (click)="Enviar()">Enviar</button>
  </div>
</div>