<app-header [title]="'Listado de Espera'"></app-header>

<ion-content [fullscreen]="true" >
  <ion-list class="home-list custom-list" >
    <ion-item *ngFor="let client of clientes" (click)="openModal(client)" color="danger">
      <ion-avatar slot="start" class="avatar">
        <img [src]="client.photoUrl" alt="client.name">
      </ion-avatar>
      <ion-label class="ion-text-wrap">
        <h2>{{ client.name }} {{ client.surname ? client.surname : '' }}</h2>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
