

  <div  class="background">
    <div class="mensajes" id="contenedor-message">
      <div *ngFor="let item of arrayMensajes" class="message">
        <div *ngIf="item.person != this.mensaje.person; else elseBlock" class="centrar centrarTuyo">
          <div class="chat chatTuyo">
            <h5>{{item.person | mayuscula}}</h5>
            <label class="mensaje">{{item.content | mayuscula}}</label>
            <div class="smallDiv">
              <small>{{item.fecha}} {{item.hora | hora}}</small>
            </div>
          </div>
        </div>
        <ng-template #elseBlock>
          <div>
            <div class="centrar centrarMio">
              <div class="chat chatMio">
                <label class="mensaje">{{item.content | mayuscula}}</label>
                <div class="smallDiv">
                  <small>{{item.fecha}} {{item.hora | hora}}</small>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </div>
      <div #scrollAnchor></div>
    </div>
    <div class="enviar">
      <textarea id="input" [(ngModel)]="this.mensaje.content"  placeholder="Mensaje"></textarea>
      <button class="boton" (click)="this.Enviar()">Enviar</button>
    </div>
  </div>


