<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="header"></div>
  
    <div class="container-img">
      <app-camera [imageObject]="imageObject"></app-camera>
    </div>

  <div class="wrapper">

    <ion-card class="form-wrapper">
      <ion-segment [(ngModel)]="segmentValue">
        <ion-segment-button value="clienteNuevo">
          <ion-label>Cliente</ion-label>
        </ion-segment-button>
        <ion-segment-button value="anonimo">
          <ion-label>Anónimo</ion-label>
        </ion-segment-button>
      </ion-segment>

      <div *ngIf="segmentValue === 'clienteNuevo'">
        <form (ngSubmit)="onRegister()" [formGroup]="newClient">
          <div class="ion-margin-bottom">
            <ion-item>
              <ion-input
                label="Nombre"
                labelPlacement="floating"
                type="text"
                name="name"
                formControlName="name"
              ></ion-input>
            </ion-item>
            <ion-text
              color="danger"
              *ngIf="newClient.get('name')?.hasError('required') && newClient.get('name')?.touched"
              class="text-danger ion-text-center"
              >EL <strong>Nombre</strong> es requerido
            </ion-text>
            <ion-text
              color="danger"
              *ngIf="newClient.get('name')?.hasError('minlength') && newClient.get('name')?.touched"
              class="text-danger"
              >EL <strong>Nombre</strong> Debe ser mas de 3 caracteres
            </ion-text>
          </div>
          <div class="ion-margin-bottom">
            <ion-item>
              <ion-input
                label="Apellido"
                labelPlacement="floating"
                type="text"
                name="lastName"
                formControlName="lastName"
              ></ion-input>
            </ion-item>
            <ion-text
              color="danger"
              *ngIf="newClient.get('lastName')?.hasError('required') && newClient.get('lastName')?.touched"
              class="text-danger"
              >EL <strong>Apellido</strong> es requerido
            </ion-text>
            <ion-text
              color="danger"
              *ngIf="newClient.get('lastName')?.hasError('minlength') && newClient.get('lastName')?.touched"
              class="text-danger"
              >EL <strong>Apellido</strong> Debe ser mas de 3 caracteres
            </ion-text>
          </div>
          <div class="ion-margin-bottom">
            <ion-item>
              <ion-input
                label="DNI"
                labelPlacement="floating"
                type="text"
                name="dni"
                formControlName="dni"
              ></ion-input>
            </ion-item>
            <ion-text
              color="danger"
              *ngIf="newClient.get('dni')?.hasError('required') && newClient.get('dni')?.touched"
              class="text-danger"
              >EL <strong>dni</strong> es requerido
            </ion-text>
            <ion-text
              color="danger"
              *ngIf="newClient.get('dni')?.hasError('soloNumeros') && newClient.get('dni')?.touched"
              class="text-danger"
            >
              EL <strong>dni</strong> Debe ser solo numero
            </ion-text>
          </div>
          <!-- En procesos -->

            <button class="buttonQR" (click)="leerDNI()">
              Escanner DNI
              <ion-icon name="qr-code-outline"></ion-icon>
            </button>


          <div class="ion-margin-bottom">
            <ion-item>
              <ion-input
                label="Correo electrónico"
                labelPlacement="floating"
                type="email"
                name="email"
                formControlName="email"
              ></ion-input>
            </ion-item>
            <ion-text
              color="danger"
              *ngIf="newClient.get('email')?.hasError('required') && newClient.get('email')?.touched"
              class="text-danger"
              >EL <strong>correo</strong> es requerido
            </ion-text>
            <ion-text
              color="danger"
              *ngIf="newClient.get('email')?.hasError('email') && newClient.get('email')?.touched"
              class="text-danger"
              >EL <strong>correo</strong> no tiene un formato correcto
            </ion-text>
          </div>
          <div class="ion-margin-bottom">
            <ion-item>
              <ion-input
                label="Contraseña"
                labelPlacement="floating"
                type="password"
                name="password"
                formControlName="password"
                required
              ></ion-input>
            </ion-item>
            <ion-text
              color="danger"
              *ngIf="newClient.get('password')?.hasError('required') && newClient.get('password')?.touched"
              class="text-danger"
              >La <strong>contraseña</strong> es requerido
            </ion-text>
            <ion-text
              color="danger"
              *ngIf="newClient.get('password')?.hasError('minlength') && newClient.get('password')?.touched"
              class="text-danger"
              >La <strong>cotraseña</strong> debe ser mas de 6 caracteres
            </ion-text>
          </div>

          <ion-button
            type="submit"
            [disabled]="!newClient.valid"
            ><strong>Registrar</strong></ion-button
          >
        </form>
      </div>
      <div *ngIf="segmentValue === 'anonimo'">
        <form (ngSubmit)="onRegister()" [formGroup]="anonymous">
          <ion-list>
            <div class="ion-margin-bottom">
              <ion-item>
                <ion-input
                  label="Nombre"
                  labelPlacement="floating"
                  type="text"
                  name="name"
                  formControlName="name"
                ></ion-input>
              </ion-item>
              <ion-text
                color="danger"
                *ngIf="anonymous.get('name')?.hasError('required') && anonymous.get('name')?.touched"
                class="text-danger"
                >EL <strong>Nombre</strong> es requerido
              </ion-text>
              <ion-text
                color="danger"
                *ngIf="anonymous.get('name')?.hasError('minlength') && anonymous.get('name')?.touched"
                class="text-danger"
                >EL <strong>Nombre</strong> Debe ser mas de 3 caracteres
              </ion-text>
            </div>
            <ion-button
              type="submit"
              [disabled]="!anonymous.valid"
              ><strong>Registrar</strong>
            </ion-button>
          </ion-list>
        </form>
      </div>
    </ion-card>
  </div>

</ion-content>
