ion-toolbar{
    --background: #d62828;
    --color: #fff;

    ion-buttons{
        ion-button{
            --background: #d62828;
            --color: #fff;

            ion-icon{
                --color: #fff;
            }
        }
    }

}