<app-header [title]="'El buen comer'"></app-header>

<ion-content>
  <div class="full-screen">
    @if (this.isInWaitingRoom) 
    {
      <ion-button class="QR-btn" (click)="this.isInWaitingRoom = false" color="entryqr">
        <div>
          <h1>Sentarse</h1>
          <ion-icon slot="end" name="qr-code-outline"></ion-icon>
        </div>
      </ion-button>

      <ion-button class="survey-btn" (click)="true" expand="block" fill="solid" shape="round" color="entryqr">
        <h1>Mirar encuestas</h1>
      </ion-button>
    }
    @else {
      <div class="no-QR-screen full-screen">
        <ion-button class="QR-btn" (click)="this.isInWaitingRoom = true" color="entryqr">
          <div>
            <h1>Entrar al local</h1>
            <ion-icon slot="end" name="qr-code-outline"></ion-icon>
          </div>
        </ion-button>
      </div>
    }
  </div>
</ion-content>
