<app-header [title]="'El buen comer'"></app-header>

<ion-content>

      @if (this.tableManagement.isInRestaurant) 
    {
      <div class="full-screen in-restaurant">
        @if (this.tableManagement.isInWaitingRoom) 
        {
          <ion-button class="in-restaurant" (click)="this.analiceQR()" color="light">
            <div class="no-big-img">
              <h1>Vincular con la mesa: {{this.tableNumberToShow}}</h1>
              <img class="no-big-img" src="../../../../assets/images/QR_In_Btn.png" alt="">
            </div>
          </ion-button>
        }
        @else {
          <ion-button class="in-restaurant" (click)="this.goInWaitingRoom()" color="light">
            <div>
              <h1>Pedir una mesa</h1>
              <img src="../../../../assets/images/table.png">
            </div>
          </ion-button>
        }
  
        <ion-button class="in-restaurant" (click)="this.openSurvey()" color="brown">
          <div>
            <h1>Mirar encuestas</h1>
            <img src="../../../../assets/images/survey.png">
          </div>
        </ion-button>
      </div>
    }
    @else {
      <div class="full-screen entry">
        <ion-button class="entry" (click)="this.analiceQR()" color="entryqr">
          <div>
            <h1>Entrar al local</h1>
            <img src="../../../../assets/images/QR_In_Btn.png" alt="">
          </div>
        </ion-button>
      </div>
    } 
</ion-content>
