<app-header title="Listado Clientes"></app-header>
<ion-content [fullscreen]="true">
  <div>
    <ion-grid style="width: 100%;">  
      <ion-row style="background-color: #9d641d;">  
        <ion-col>Nombre</ion-col>  
        <ion-col>Perfil</ion-col>  
        <ion-col>Acción</ion-col>  
      </ion-row>  
      @for (item of this.clientes; track $index) 
      {
        <ion-row style="background-color: #636363;">  
          <ion-col>{{item.name | mayuscula}} {{item.surname | mayuscula}}</ion-col>  
          <ion-col><img src={{item.photoUrl}} alt=""></ion-col>    
          <ion-col class="botones">
            <button (click)="Permitir(item)" style="background-color: green;">Permitir</button>
            <button (click)="Denegar(item)"  style="background-color: red;">Denegar</button>
          </ion-col>    
        </ion-row>  
      }
    </ion-grid>  
  </div>
</ion-content>  
