// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root
{
    //Aca van los estilos globales
    //#B47C16
	--ion-color-entryqr: #faa307;
	--ion-color-entryqr-rgb: 250,163,7;
	--ion-color-entryqr-contrast: #000000;
	--ion-color-entryqr-contrast-rgb: 0,0,0;
	--ion-color-entryqr-shade: #dc8f06;
	--ion-color-entryqr-tint: #fbac20;

    .full-screen
    {
        width: 100%;
        height: 100%
    }
}

.ion-color-entryqr {
	--ion-color-base: var(--ion-color-entryqr);
	--ion-color-base-rgb: var(--ion-color-entryqr-rgb);
	--ion-color-contrast: var(--ion-color-entryqr-contrast);
	--ion-color-contrast-rgb: var(--ion-color-entryqr-contrast-rgb);
	--ion-color-shade: var(--ion-color-entryqr-shade);
	--ion-color-tint: var(--ion-color-entryqr-tint);
}