<app-header [title]="this.title"></app-header>

<ion-content>
  <div class="full-screen centrar-columna">
    
    <!-- Si la mesa ya tiene un pedido asignado -->
    @if (false || this.hasOrder) 
    { 
      <div class="frame-estado-pedido">
        <!-- <h2 class="text">Estado del pedido:</h2> -->
        <h1 class="estado-pedido">ESTADO</h1>
        <!--         <h1 class="estado-pedido">{{this.order.state}}</h1>
 -->
      </div>

      <!-- El estado del pedido es distinto a Accepted-->
      @if( false || this.order.state !== 4)
      {
        <ion-button class="analyze-qr" (click)="this.checkOrderState()" color="entryqr">
          <div>
            <h1>Actualizar estado</h1>
            <img src="../../../../assets/images/QR_In_Btn.png" alt="">
          </div>
        </ion-button>
      }
      @else {
        <ion-button class="pay-qr" (click)="this.showBill()" color="green">
          <div>
            <h1>Pagar</h1>
            <img src="../../../../assets/images/QR_In_Btn.png" alt="">
          </div>
        </ion-button>
      }

      <!-- En este if debe ir si el estadoPedido != ForApproval-->
      @if ( false || this.order.state !== 0) 
      {
        <ion-button class="consultar-mozo" id="survey-list-modal" fill="solid" color="orange">
          <h1>Ver encuestas</h1>
          <ion-icon slot="end" name="file-tray-full-outline"></ion-icon>        
        </ion-button>

        <!-- Si la encuesta no fue realizada-->
        @if (!this.surveyIsCompleted) 
        {
          <ion-button class="consultar-mozo" id="survey-form-modal" fill="solid" color="orange">
            <h1>Realizar encuesta</h1>
            <ion-icon slot="end" name="help-circle-outline"></ion-icon>
          </ion-button>
        }

        <!-- Si el mozo ya confirmo que entrego el pedido-->
        @if ( false || this.order.state === 3) 
        {
          <ion-button (click)="this.markOrderAsReceived()" class="mucho-texto" fill="solid" color="green">
            <h1>He recibido el pedido</h1>
            <ion-icon slot="end" name="bag-outline"></ion-icon>
          </ion-button>
        }
      }

    } @else {
      <h1 class="orderPrice">${{this.orderPrice}}</h1>
      <h2 class="order-time">Tiempo de espera: {{this.cookingTime}} minuto/s</h2>
  
      <div class="carta-frame">
          <ion-segment value="default">
            <ion-segment-button value="default" (click)="this.showAll()">
              <ion-label>Todo</ion-label>
            </ion-segment-button>
            <ion-segment-button value="food" (click)="this.showFood()">
              <ion-label>Comidas</ion-label>
            </ion-segment-button>
            <ion-segment-button value="drink" (click)="this.showDrink()">
              <ion-label>Bebidas</ion-label>
            </ion-segment-button>
          </ion-segment>
          
        <div class="carta">
          @for (product of this.productsToShow; track $index) 
          {
            @if((this.canShowDrink && !product.isFood) || (this.canShowFood && product.isFood))
            {
              <div [className]="product.isFood ? 'foodCard' : 'drinkCard'">
                <div class="carrusel">
                  @for (foto of product.photoUrl; track $index) 
                  {
                    <img [src]="foto">
                  }
                </div>
            
                <h1 class="info-color-1">{{product.name}}</h1>
                <h1 class="info-color-2">${{product.price}}</h1>
                <h1 class="info-color-1">Elaboracion: {{product.time}} minuto/s</h1>
                <p class="info-color-2">{{product.description}}</p>
  
                <ion-button (click)="this.addProduct(product)" expand="block" fill="solid" color="success">
                  <h1>Pedir +1</h1>
                </ion-button>
              
                <ion-button (click)="this.deleteProduct(product)" expand="block" fill="solid" color="danger">
                  <h1>Sacar -1</h1>
                </ion-button>
              </div>
            }
          }
        </div>
      </div>
  
      <div class="btn-group">
        <ion-button class="consultar-mozo" id="order-modal" fill="solid" color="light">
          <h1>Revisar pedido</h1>
          <ion-icon slot="start" name="pizza-outline"></ion-icon>
        </ion-button>
    
        <ion-button class="consultar-mozo" id="chat-modal" fill="solid" color="light">
          <h1>Consultar al mozo</h1>
          <ion-icon slot="end" name="chatbubbles-outline"></ion-icon>        
        </ion-button>
      </div>
    }
  </div>


  <ion-modal #chatModal trigger="chat-modal">
    <ng-template>
      <ion-header>
        <ion-toolbar class="modal-toolbar"> 
          <ion-buttons slot="start">
            <ion-button fill="solid" (click)="chatModal.dismiss()">
              <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
            </ion-button>
          </ion-buttons>

          <ion-title style="text-align: end;">Chat</ion-title>
        </ion-toolbar>
      </ion-header>
      
      <app-chat style="height: 100%;"></app-chat>
    </ng-template>
  </ion-modal>
  
  <ion-modal #orderModal trigger="order-modal">
    <ng-template>
      <ion-header>
        <ion-toolbar class="modal-toolbar">
          <ion-buttons slot="start">
            <ion-button fill="solid" (click)="orderModal.dismiss()">
              <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
            </ion-button>
          </ion-buttons>

          <ion-title style="text-align: end;">Pedido</ion-title>
        </ion-toolbar>
      </ion-header>

      <ion-content>
        <h1 class="orderPrice">${{this.orderPrice}}</h1>

        <div style="display: flex; width: 100%;justify-content: center;">
          <ion-button (click)="this.confirmOrder()" class="consultar-mozo" fill="solid" color="light">
            <h1>Confirmar</h1>
            <ion-icon slot="end" name="bag-check-outline"></ion-icon>
          </ion-button>
        </div>

        <div class="product-list-frame-large">
          <app-bought-products-list [productsToShow]="this.productsSelected" [showPrice]="true"></app-bought-products-list>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>
    
  <ion-modal #surveyFormModal trigger="survey-form-modal">
    <ng-template>
      <ion-header>
        <ion-toolbar class="modal-toolbar">
          <ion-buttons slot="start">
            <ion-button fill="solid" (click)="surveyFormModal.dismiss()">
              <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
            </ion-button>
          </ion-buttons>

          <ion-title style="text-align: end;">Encuesta</ion-title>
        </ion-toolbar>
      </ion-header>

      <ion-content>
        <app-alta-encuesta></app-alta-encuesta>
      </ion-content>
    </ng-template>
  </ion-modal>

        <!-- survey-list-modal -->
  <ion-modal #surveyListModal trigger="survey-list-modal">
    <ng-template>
      <ion-header>
        <ion-toolbar class="modal-toolbar">
          <ion-buttons slot="start">
            <ion-button fill="solid" (click)="surveyListModal.dismiss()">
              <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
            </ion-button>
          </ion-buttons>

          <ion-title style="text-align: end;">Reseñas</ion-title>
        </ion-toolbar>
      </ion-header>

      <ion-content>
      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-modal [isOpen]="this.showPayModal">
    <ng-template>
      <ion-header>
        <ion-toolbar class="modal-toolbar">
          <ion-title style="text-align: start;">Pago</ion-title>
        </ion-toolbar>

        <ion-buttons slot="start">
          <ion-button fill="solid" (click)="this.showPayModal =false">
            <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-header>

      <ion-content>
        <div class="full-screen bill-frame">

          <div class="product-list-frame-small">
            <app-bought-products-list [productsToShow]="this.bill.products" [showPrice]="true"></app-bought-products-list>
          </div>

          <div class="bill">
            <h2 class="products-title">Productos</h2> <h2 class="products-price">${{this.bill.subTotal}}</h2>
            <h2 class="tip-title">Propina</h2> <h2 class="tip-price">${{this.bill.tip}}</h2>
            <h2 class="total-title">Total</h2> <h2 class="total-price">${{this.bill.total}}</h2>
          </div>

          <ion-button (click)="this.payBill()" class="consultar-mozo" fill="solid" color="green">
            <h1>Pagar</h1>
            <ion-icon slot="end" name="cash-outline"></ion-icon>        
          </ion-button>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
