ion-toolbar {
    --background: transparent !important;
    color: white;
    position: fixed;
  }
  
  ion-content {
    --background: #EDEDEF;
    .menu-custom-style {
      --width: 200px;
      --ion-item-background: transparent;
      --ion-item-padding-start: 0;
      --ion-item-padding-end: 0;
      --color: #fff;
      --ion-item-color: #fff;
      --ion-item-text-transform: none;
      ion-content {
        --background: #ff9900;
      }
    }
    
    .fab-name {
      position: absolute;
      top: 50%;
      left: calc(100% + 10px); /* Ajusta el valor de acuerdo a tus necesidades */
      transform: translateY(-50%);
      z-index: 2;
    }
    #header {
      height: 40vh;
      background:url("../../../assets/images/login-fondo.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      display: flex;
      flex-direction: column;
      color: #fff;
      padding: 20px;
      justify-content: center;
      #app-bar {
        #logo {
          display: flex;
          justify-content: center;
          align-items: center;
          img {
            width: 180px;
          }
        }
      }
    }
  
    .wrapper {
      position: absolute;
      top: 30%;
      left: 4%;
      right: 4%;
  
      .form-wrapper {
        box-shadow: none;
        border-radius: 20px;
        background-color: white;
        
        .titulo-txt{
            color: #003049; 
            font-weight: bold; 
            padding: 8px;
        }
        ion-item {
          --background: white;
          --padding-start: 10px;
          --highlight-height: 0;
          --border-width: 0;
          --padding-top: 0;
          --min-height: 40px;
          border-radius: 5px;
          color: #003049;
          ion-icon {
            font-size: 18px;
            color: #003049;
          }
          ion-input {
            margin-left: 10px;
            font-size: 14px;
            color: #003049;
          }
        }
        ion-button {
          --background:#d62828;
          margin-top: 25px;
          height: 58px;
          width: 100%;
          --border-radius: 40px !important;
        }
      }
  
      .line-text {
        padding: 0 30px;
        position: relative;
        height: 20px;
        margin-top: 30px;
  
        .lines {
          height: 1px;
          color: #003049;
          background: #003049;
          display: block;
        }
  
        .text {
          position: absolute;
          top: -7px;
          left: 50%;
          transform: translateX(-50%);
          color: #003049;
          background: #e5e5e5;
          padding: 0 16px;
          font-size: 14px;
          font-weight: 500;
        }
      }
    }
    .avatar-container {
      display: flex;
      justify-content: center;
      align-items: center;
  
      ion-avatar {
        margin: 10px;
        .avatar-text {
          font-size: 9px;
          color: #003049;
          font-weight: 600;
        }
     
      }

    }
    .mi-fab-boton {
      width: 100px;
      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
  
    }
    .custom-chip {
        font-size: 16px;
        width: 150px;
        height: 20px;
        background: rgba(8, 8, 8, 0.5);
        font-weight: 600;
        border: 1px solid white;
      }
    ion-fab-button{
        --background: transparent;
    }
    .size-input{
      min-height: 70px;
    }
    .custom-text-size {
        display: block;
        font-size: 12px;
        margin-top: 5px;
      }
    ion-label{
      color: white;
    }
  }

 