<app-header [title]="'Listado de Pedidos'"></app-header>
<ion-content [fullscreen]="true">
  <ion-card *ngFor="let order of orders" class="style-card">
    <ion-card-header>
      <ion-card-title class="title-container">
        Mesa {{ order.idTable }}
        <ion-button fill="clear" class="centered-button">
          Finalizar
        </ion-button>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-accordion-group #accordionGroup>
        <ion-accordion value="first">
          <ion-item slot="header" color="light">
            <ion-label>Detalle del Pedido</ion-label>
          </ion-item>
          <div class="ion-padding style-fondo" slot="content" *ngFor="let product of order.products">
            <ion-item class="item-fondo">
              <ion-thumbnail slot="start">
                <img [alt]="product.name" [src]="product.photoUrl[0]" />
              </ion-thumbnail>
              <ion-label>{{ product.name | mayuscula}} - x{{product.quantity}}</ion-label>
            </ion-item>
          </div>
        </ion-accordion>
      </ion-accordion-group>
    </ion-card-content>
  </ion-card>
</ion-content>
