.container-img {
    
    .circular-container {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      border: 2px solid #EDEDEF;
      overflow: hidden;
      display: flex;
      ion-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    ion-chip{
      background-color: rgba(8, 11, 26, 0.314);
    }
    
  }