<app-header [title]="'Menú'"></app-header>

<ion-content>
  <ion-segment value="default">
    <ion-segment-button value="default" (click)="this.showAllProducts()">
      <ion-label>Todo</ion-label>
    </ion-segment-button>
    <ion-segment-button value="food" (click)="this.showFood()">
      <ion-label>Comidas</ion-label>
    </ion-segment-button>
    <ion-segment-button value="drink" (click)="this.showDrink()">
      <ion-label>Bebidas</ion-label>
    </ion-segment-button>
  </ion-segment>

  @for (product of this.productsToShow; track $index) { 
    @if((this.canShowDrink && !product.isFood) || (this.canShowFood && product.isFood)) {
      @if(product.isFood){
        <ion-card>
          <swiper-container style="background: #1e1e1e">
            @for (foto of product.photoUrl; track $index) 
            {
              <swiper-slide><img [src]="foto" style="object-fit: cover; height: 100%; width: 100%; max-height: 220px;"/></swiper-slide>
            }
          </swiper-container>
          <ion-card-header>
            <ion-card-title>{{product.name | mayuscula}}</ion-card-title>
          </ion-card-header>
         
          <ion-card-content>
            <p class="content-txt">Precio: ${{product.price}}</p>
            <div style="display: flex; align-items: center;">
              <ion-icon name="stopwatch-outline" style="font-size: 30px; margin-right: 5px;"></ion-icon>
              <p class="content-txt">{{product.time}} minuto/s</p>
            </div>
            <p class="content-txt">{{product.description | mayuscula}}</p>
          </ion-card-content>
          
          <ion-grid>
            <ion-row>
              <ion-col col-6>
                <ion-button (click)="this.addProduct(product)" expand="block" fill="solid" color="success">
                 +1
                </ion-button>
              </ion-col>
              <ion-col col-6>
                <ion-button (click)="this.deleteProduct(product)" expand="block" fill="solid" color="danger">
                 -1
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      }@else{
        <ion-card>
          <ion-grid>
            <ion-row>
              <ion-col col-auto size="3"> 
                <swiper-container>
                  @for (foto of product.photoUrl; track $index) 
                  {
                    <swiper-slide><img [src]="foto" class="product-image"/></swiper-slide>
                  }
                </swiper-container>
              </ion-col>
              <ion-col> 
                <ion-card-header>
                  <ion-card-title>{{product.name | mayuscula}}</ion-card-title>
                </ion-card-header>
        
                <ion-card-content>
                  <p class="content-txt">Precio: ${{product.price}}</p>
                  <div style="display: flex; align-items: center;">
                    <ion-icon name="stopwatch-outline" style="font-size: 30px; margin-right: 5px;"></ion-icon>
                    <p class="content-txt">{{product.time}} minuto/s</p>
                  </div>
                  <p class="content-txt">{{product.description | mayuscula}}</p>

                </ion-card-content>
                <ion-grid>
                  <ion-row>
                    <ion-col col-6>
                      <ion-button (click)="this.addProduct(product)" expand="block" fill="solid" color="success">
                        +1
                      </ion-button>
                    </ion-col>
                    <ion-col col-6>
                      <ion-button (click)="this.deleteProduct(product)" expand="block" fill="solid" color="danger">
                        -1
                      </ion-button>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      }
    }
  }
</ion-content>

<ion-footer>
  <ion-toolbar class="custom-footer">
    <p align="center" style="font-size: 80px; margin: 0; margin-top:5px;">${{this.orderPrice}}</p>
    <div style="display: flex; align-items: center; justify-content: center;">
      <ion-icon name="stopwatch-outline" style="font-size: 30px; margin-right: 5px;"></ion-icon>
      <h3>{{this.cookingTime}} minuto/s</h3>
    </div>

    <div class="btn-group">
      <ion-button
        class="consultar-mozo"
        id="order-modal"
        fill="solid"
        color="light"
      >
        <h1>Revisar pedido</h1>
        <ion-icon slot="start" name="pizza-outline"></ion-icon>
      </ion-button>

      <ion-button
        class="consultar-mozo"
        id="chat-modal"
        fill="solid"
        color="light"
      >
        <h1>Consultar al mozo</h1>
        <ion-icon slot="end" name="chatbubbles-outline"></ion-icon>
      </ion-button>
    </div>
  </ion-toolbar>
  <ion-modal #chatModal trigger="chat-modal">
    <ng-template>
      <ion-header>
        <ion-toolbar class="modal-toolbar">
          <ion-buttons slot="start">
            <ion-button fill="solid" (click)="chatModal.dismiss()">
              <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
            </ion-button>
          </ion-buttons>

          <ion-title style="text-align: end">Chat</ion-title>
        </ion-toolbar>
      </ion-header>

      <ion-content>
        <app-chat
          [arrayMensajes]="this.messages"
          style="height: 100%"
        ></app-chat>
      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-modal #orderModal trigger="order-modal">
    <ng-template>
      <ion-header>
        <ion-toolbar class="modal-toolbar">
          <ion-buttons slot="start">
            <ion-button fill="solid" (click)="orderModal.dismiss()">
              <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
            </ion-button>
          </ion-buttons>

          <ion-title style="text-align: end">Pedido</ion-title>
        </ion-toolbar>
      </ion-header>

      <ion-content>
        <div class="full-screen centrar">
          <h1 class="orderPrice">${{this.orderPrice}}</h1>

          <ion-button
            (click)="this.confirmOrder(orderModal)"
            class="consultar-mozo"
            fill="solid"
            color="light"
          >
            <h1>Confirmar</h1>
            <ion-icon slot="end" name="bag-check-outline"></ion-icon>
          </ion-button>

          <div class="product-list-frame-large">
            <app-bought-products-list
              [productsToShow]="this.productsSelected"
              [showPrice]="true"
            ></app-bought-products-list>
          </div>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-footer>
