ion-button.consultar-mozo, ion-button.mucho-texto
{
    width: 95%;
    font-size: 30px;

    h1{
        text-transform: none;
        font-size: 30px;
        margin: 0px;
    }
}

ion-button.mucho-texto
{
    h1
    {
        font-size: 25px;
    }
}


div.drinkCard
{
    background-color: #bb9457;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    box-sizing: border-box;
    border: solid #000 2px;

    div.carrusel
    {
        grid-row-start: 1;
        grid-row-end: -1;

        display: flex;
        flex-direction: column;
        overflow-x: auto;
    }

    img{
        max-width: 100%;
        max-height: 100%;
    }

    p{
        display: flex;
        flex-direction: row;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    ion-button{
        width: 100%;
        height: 100%;
        text-transform: none;
        margin: 0px;
        --box-shadow: 0px;
        --border-radius: 0px
    }

    h1{
        box-sizing: border-box;
    }

    .info-color-1
    {
        background-color: #4cc9f0;
        color: #000;
        border: solid #000;
        border-width: 2px 0px 2px 2px;
    }

    .info-color-2{
        background-color: #90e0ef;
        color: #000;
        border: solid #000;
        border-width: 2px 0px 2px 2px;
    }
}

div.foodCard
{
    height: 100%;
    background-color: aliceblue;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    box-sizing: border-box;
    border: solid #000 2px;


    div.carrusel
    {
        display: flex;
        flex-direction: row;
        overflow-x: auto;

        grid-column-start: 1;
        grid-column-end: -1;

        grid-row-start: 1;
        grid-row-end: 4;
    }

    p{
        display: flex;
        flex-direction: row;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    img{
        max-width: 100%;
        max-height: 100%;
    }

    .info-color-1
    {
        background-color: #606c38;
        color: #fff;
        border: solid #000 2px;
    }

    .info-color-2
    {
        background-color: #283618;
        color: #fff;
        border: solid #000 2px;
    }

    ion-button{
        width: 100%;
        height: 100%;
        text-transform: none;
        margin: 0px;
        --box-shadow: 0px;
        --border-radius: 0px
    }
}

/*
.food-color-1
{
    background-color: #606c38;
    color: #fff;
}

.food-color-2
{
    background-color: #283618;
    color: #fff;
}
*/

.carta-frame
{
    width: 100%;
    height: 70%;

    .btn-group
    {
        width: 100%;
        height: 10%;
    }

    ion-segment {
        --background: #a7c957;
    }

    ion-segment-button {
        --indicator-color: #000;
        --color: #fff;
        --color-checked: #000;
        --indicator-height: 4px;
      }
      

    .carta
    {
        width: 100%;
        height: 90%;
        display: flex;
        flex-direction: column;
        overflow-y: auto;

        h1
        {
            width: 100%;
            height: 100%;
            margin: 0px;
            display: flex;
            text-align: center;
            justify-content: center;
            align-items: center;
        }

        p{
            margin: 0px;
            height: 100%;
        }
    }
}

.modal-toolbar
{
    --background: #d62828;
    --color: #fff;

    ion-button{
        --background: #d62828;
        --color: #fff;
    }
}

/*
div.orderItem
{
    display: flex;
    flex-direction: row;

    h3.productName{
        justify-self: start;
    }

    h3.productCuantity
    {
        justify-self: end;
    }
}
*/

h1.orderPrice
{
    font-size: 100px;
    color: #ccff33;
    margin: 0px;
    text-align: center;
}

h2.order-time
{
    color: #ccff33;
    margin: 0px;
    text-align: center;
}

.btn-group
{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    ion-button{
        width: 45%;
        margin: 0px;

        h1{
            font-size: 15px;
        }
    }
}

.centrar-columna
{
    justify-content: space-evenly;
}

.centrar
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-list-frame-large
{
    height: inherit;
    width: 100%;
}