ion-toolbar{
    --background: #d62828;
    --color: #fff;

    ion-button{
        --background: #d62828;
    }
}
  
.content-title-client{
    margin-top: 10px;
    margin-bottom: 26px;

    .divider {
        border: none;
        border-top: 2px solid #ffffff;
        width: 80%;
        margin: 0;
        margin-left: auto;
        margin-right: auto;
      }

    .title-client{
        font-weight: 700;
        padding: 10px;
        color: #ffffff;
    }
}
.list-custom{
    background-color: rgba(153, 88, 42, 0.7);
    margin: 16px;
    border-radius: 22px;
    border: 1px solid #fff;
    ion-item {
        margin: 15px;
        --padding-start: 16px;
        --inner-padding-end: 16px;
        color: #fff;
        border: 2px solid #fff;
        border-radius: 22px;
      }
    ion-item::part(native) {
        border-bottom: none;
      }
}

