<div class="card-container">
  <ion-card class="custom-card">
    <ion-card-header>
      <ion-card-title>Calidad del servicio al cliente</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <canvas style="background: rgb(24, 24, 24);" #acquisitionsChart></canvas>
    </ion-card-content>
  </ion-card>

  <ion-card class="custom-card">
    <ion-card-header>
      <ion-card-title>Temperatura de los alimentos</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <canvas style="background: rgb(24, 24, 24);" #pieChart></canvas>
    </ion-card-content>
  </ion-card>

  <ion-card class="custom-card">
    <ion-card-header>
      <ion-card-title>Aspectos más gustados</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <canvas style="background: rgb(24, 24, 24);" #lineChart></canvas>
    </ion-card-content>
  </ion-card>

  <ion-card class="custom-card">
    <ion-card-header>
      <ion-card-title>Calidad general</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <canvas style="background: rgb(24, 24, 24);" #polarAreaChart></canvas>
    </ion-card-content>
  </ion-card>
</div>