<app-header [title]="'Pedido'"></app-header>

<ion-content>
  <div class="full-screen centrar-columna">
    <div class="frame-estado-pedido">
      <!-- <h2 class="text">Estado del pedido:</h2> -->
      <h2 class="text">Estado: </h2>
      <h1 class="estado-pedido">{{this.tableManagementService.order.state | estadoPedido}}</h1>
    </div>

    <!-- El estado del pedido es distinto a Accepted-->

    @if(this.tableManagementService.order.state < 4 || this.tableManagementService.order.state > 6)
    {
      <ion-button class="analyze-qr" (click)="this.checkOrderState()" color="entryqr">
        <div>
          <h1>Actualizar estado</h1>
          <img src="../../../../assets/images/QR_In_Btn.png" alt="">
        </div>
      </ion-button>
    }
    @else {
      
      @switch (this.tableManagementService.order.state) 
      {
        @case (4) 
        {
          <ion-button class="consultar-mozo" (click)="this.pedirCuenta()" fill="solid" color="green">
            <h1>Pedir la cuenta</h1>
            <ion-icon slot="end" name="chatbubbles-outline"></ion-icon>        
          </ion-button>
        }

        @case (5) 
        {
          <div class="frame-esperando-pagar">
            <h1>En cualquier momento un mozo le traerá la cuenta</h1>
          </div>  
        }

        @case (6) 
        {
        <!-- Mostrar boton para pedir pagar que cambia el estado a 5 -->
          <ion-button class="pay-qr" (click)="this.showBill()" color="green">
            <div>
              <h1>Pagar</h1>
              <img src="../../../../assets/images/QR_In_Btn.png" alt="">
            </div>
          </ion-button>
        }
      }
    }

    <ion-button class="consultar-mozo" (click)="this.canShowChatModal = true" fill="solid" color="light">
      <h1>Consultar al mozo</h1>
      <ion-icon slot="end" name="chatbubbles-outline"></ion-icon>        
    </ion-button>

    <!-- En este if debe ir si el estadoPedido != ForApproval-->
    @if (this.tableManagementService.order.state !== 0) 
    {

      <!-- Si la encuesta no fue realizada-->
      @if (this.surveyIsCompleted) 
      {
        <ion-button class="consultar-mozo" (click)="this.canShowSurveyListModal = true" fill="solid" color="orange">
          <h1>Ver encuestas</h1>
          <ion-icon slot="end" name="file-tray-full-outline"></ion-icon>        
        </ion-button>
      } @else {
        <ion-button class="consultar-mozo" (click)="this.canShowSurveyFormModal = true" fill="solid" color="orange">
          <h1>Realizar encuesta</h1>
          <ion-icon slot="end" name="help-circle-outline"></ion-icon>
        </ion-button>
      }

      <!-- Si el mozo ya confirmo que entrego el pedido-->
      @if (this.tableManagementService.order.state === 3) 
      {
        <ion-button (click)="this.markOrderAsReceived()" class="mucho-texto" fill="solid" color="green">
          <h1>He recibido el pedido</h1>
          <ion-icon slot="end" name="bag-outline"></ion-icon>
        </ion-button>
      }
    }
  </div>
  
  <ion-modal #chatModal [isOpen]="this.canShowChatModal">
    <ng-template>
      <ion-header>
        <ion-toolbar class="modal-toolbar"> 
          <ion-buttons slot="start">
            <ion-button fill="solid" (click)="this.canShowChatModal = false">
              <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
            </ion-button>
          </ion-buttons>

          <ion-title style="text-align: end;">Chat</ion-title>
        </ion-toolbar>
      </ion-header>
      
      <ion-content>
        <app-chat [arrayMensajes]="this.messages" style="height: 100%;"></app-chat>
      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-modal #surveyListModal [isOpen]="this.canShowSurveyListModal">
    <ng-template>
      <ion-header>
        <ion-toolbar class="modal-toolbar">
          <ion-buttons slot="start">
            <ion-button fill="solid" (click)="this.canShowSurveyListModal = false">
              <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
            </ion-button>
          </ion-buttons>

          <ion-title style="text-align: end;">Reseñas</ion-title>
        </ion-toolbar>
      </ion-header>

      <ion-content>
        <app-graphic-comments></app-graphic-comments>
      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-modal #surveyFormModal [isOpen]="this.canShowSurveyFormModal">
    <ng-template>
      <ion-header>
        <ion-toolbar class="modal-toolbar">
          <ion-buttons slot="start">
            <ion-button fill="solid" (click)="this.canShowSurveyFormModal = false">
              <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
            </ion-button>
          </ion-buttons>

          <ion-title style="text-align: end;">Encuesta</ion-title>
        </ion-toolbar>
      </ion-header>

      <ion-content>
        <app-alta-encuesta (newItemEvent)="this.acceptSurvey($event)"></app-alta-encuesta>
      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-modal #billModal [isOpen]="this.canShowBillModal">
    <ng-template>
      <ion-header>
        <ion-toolbar class="modal-toolbar">
          <ion-buttons slot="start">
            <ion-button fill="solid" (click)="this.canShowBillModal = false">
              <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
            </ion-button>
          </ion-buttons>

          <ion-title style="text-align: end;">Pago</ion-title>
        </ion-toolbar>
      </ion-header>

      <ion-content>
        <div class="full-screen bill-frame">

          <div class="product-list-frame-small">
            <app-bought-products-list [productsToShow]="this.bill.products" [showPrice]="true"></app-bought-products-list>
          </div>

          <div class="bill">
            <h2 class="products-title">Productos</h2> <h2 class="products-price">${{this.bill.subTotal}}</h2>
            <h2 class="tip-title">Propina</h2> <h2 class="tip-price">${{this.bill.tip}}</h2>
            <h2 class="total-title">Total</h2> <h2 class="total-price">${{this.bill.total}}</h2>
          </div>

          <ion-button (click)="this.payBill()" class="consultar-mozo" fill="solid" color="green">
            <h1>Pagar</h1>
            <ion-icon slot="end" name="cash-outline"></ion-icon>        
          </ion-button>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
