.centrar-columna
{
    justify-content: space-evenly;
}

ion-button.analyze-qr, ion-button.pay-qr
{
    width: 90%;
    //height: 60%;
    background:#000;
    margin: 0px;
    border: solid #000 15px;
    --border-radius: 50px;
    border-radius: 50px;

    div{
        height: 95%;
        width: 95%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        text-align: center;

        h1{
           margin: 0px;
           font-size: 25px; 
           text-transform: none;
           margin-bottom: 5%;
        }

        img{
            max-width: 100%;
            max-height: 100%;
            margin-bottom: 9%;
        }
    }
}

ion-button.pay-qr
{
    div{
        h1{
           margin: 0px;
           font-size: 40px; 
           text-transform: none;
           margin-bottom: 5%;
        }
    }
}

div.frame-estado-pedido
{
    width: 95%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background-color: #ffe6a7;
    border: solid #000 5px;

    h1,h2
    {
        margin: 0px;
    }

    h2.text
    {
        color: #000;
        font-size: 30px;
    }

    h1.estado-pedido
    {
        font-size: 45px;
        color: #38b000;
    }
}

ion-button.consultar-mozo, ion-button.mucho-texto
{
    width: 95%;
    font-size: 30px;

    h1{
        text-transform: none;
        font-size: 30px;
        margin: 0px;
    }
}

ion-button.mucho-texto
{
    h1
    {
        font-size: 25px;
    }
}

.modal-toolbar
{
    --background: #d62828;
    --color: #fff;

    ion-button{
        --background: #d62828;
        --color: #fff;
    }
}
/*
.bill-frame
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
    .bill
    {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3,1fr);
        width: 100%;

        h2
        {
            margin: 0px;
            text-align: center;
        }
    
        h2.products-title{
            background-color: #70e000;
            color: #000;
        }
    
        h2.tip-title{
            background-color: #38b000;
            color: #000;
        }
    
        h2.total-title{
            background-color: #008000;
            color: #fff;
        }
    
        h2.products-price{
            background-color: #eeef20;
            color: #000;
        }
    
        h2.tip-price{
            background-color: #d4d700;
            color: #000;
        }
    
        h2.total-price{
            background-color: #007f5f;
            color: #fff;
        }
    }
}

.product-list-frame-small
{
    height: inherit;
    width: 100%;
}
*/
.bill-frame
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    
    ion-button{
        margin-bottom: 5%;
        margin-top: 5%;
    }

    .bill
    {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        width: 95%;
        border: solid 4px #f48c06;
        border-radius: 7px;
        margin-bottom: 5%;

        h2
        {
            margin: 0px;
            text-align: center;
            font-size: 2rem;
        }
    
        h2.products-title{
            background-color: #70e000;
            color: #000;
        }
    
        h2.tip-title{
            background-color: #38b000;
            color: #000;
        }
    
        h2.total-title{
            background-color: #008000;
            color: #fff;
        }
    
        h2.products-price{
            background-color: #eeef20;
            color: #000;
        }
    
        h2.tip-price{
            background-color: #d4d700;
            color: #000;
        }
    
        h2.total-price{
            background-color: #007f5f;
            color: #fff;
        }
    }
}

.product-list-frame-small
{
    height: inherit;
    width: 95%;
}

div.frame-esperando-pagar
{
    width: 95%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background-color: #ccff33;
    border: solid #000 5px;

    h1
    {
        margin: 0px;
        font-size: 45px;
        color: #000;
    }
}