ion-toolbar{
    --background: #d62828;
    --color: #fff;

    ion-button{
        --background: #d62828;
    }
}

.content-btn {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 16px;
}

.btn-style {
  --background: #a80505;
  width: 100%;
  margin: 26px,10px;
  height: 58px;
  --border-radius: 40px !important;
  color: #fff;
}

.full-height-card {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.full-height-div {
  margin: 16px 10px;
  height: 85%;
  display: flex;
  flex-direction: column;
  background: rgb(95, 0, 0);
  color: white;
  border-radius: 22px;
  border: 1px solid #fff;
}

.comments-title {
  text-align: center;
  width: 100%;
}

ion-list {
  overflow-y: auto;
  flex-grow: 1;
  background-color: rgb(24, 24, 24);
  border-bottom-left-radius:22px;
  border-bottom-right-radius:22px;
  
  ion-icon{
    margin-right: 8px;
    padding: 0;
    color: #fff;
  }

  ion-item {
    color: #fff;
    border: 1px solid #878787;
    margin: 8px;
    --background: rgb(24, 24, 24);
    border-radius: 14px;
  }

  ion-item::part(native) {
    border-bottom: none;
  }
}