ion-toolbar{
    --background: #d62828;
    --color: #fff;

    ion-button{
        --background: #d62828;
    }
}
.content-btn {
  width: 80%; 
  margin-left: auto;
  margin-right: auto;
}

.btn-style {
  --background: #a80505;
  width: 100%;
  margin: 26px,10px;
  height: 58px;
  --border-radius: 40px !important;
  color: #fff;
}

.full-height-card {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.full-height-div {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background: black;
  color: white;
}

ion-list {
  overflow-y: auto;
  flex-grow: 1;
}